{% extends 'headerPage.html' %}

{% block content%}




<br>
<br>
<br>
<br>


<form method="post" enctype="multipart/form-data" action="predictImage">

  {% csrf_token %}


  <!-- <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column"> -->
     <br><br><br><br><br><br>
     <br>
      <div class="center">
        <!-- <div class="col-md-4 col-sm-4 a"><label for="fname">Upload Image File Here:</label> </div> 
        <br><br> -->
        <input class="a"
          name="filePath" type="file">

        <input class="a" type="submit" style="width: 300px; margin: 0 auto;" value="Predict">

      </div>
    </div>
    <!-- Icon Divider-->
    <!-- <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div> -->


  </header>


















  <!-- <h2>The classification of the image is {{predictedLabel}}</h2> -->
  <!-- <img src={{filePathName}} alt='imagename'>
  {{filePathName}} -->

</form>
<br>


{% endblock %}